<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Start a Bet/Draft</title>
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
    <script src="https://www.gstatic.com/firebasejs/3.4.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.4.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.4.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.4.0/firebase-database.js"></script>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyCYXCul3nubv9nRJU4xG71uLXU6OpBY5vg",
        authDomain: "vsw.firebaseapp.com",
        databaseURL: "https://vsw.firebaseio.com",
        storageBucket: "firebase-vsw.appspot.com",
        messagingSenderId: "1028511849089"
      };
      firebase.initializeApp(config);
    </script>
	<link rel="stylesheet" href="../css/normalize.css">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

</head>
<body ng-app='startBet'>
	<div class="wrapper" ng-controller='ibet'>
		<div class="top-container">
        	<img src="http://hearstcommerce.ca/customcontent/members/premium/sample.jpg" alt="">
        	<nav class="top-nav">
            	<ul>
                	<li><a href="#">Log Out</a></li>
            	</ul>
        	</nav>
    	</div>

		<div class="main-content">
			<h1>Start a Bet
				<span class="content-text" id="draft">1. Draft</span>
				<i class="fa fa-angle-right" style="font-size:20px"></i>
				<span class="content-text" id="sharing">2. Sharing</span>
			</h1>	
			
			<textarea id="description" type="text" name="bet-rules" placeholder="Bet rules:" style="height:100px"  ng-model="description"></textarea> 
			

			<div class="bet-options" id="bet-options">
				<input type="text" id="Option1" placeholder="Option 1" ng-model="option1">
				
				<input type="text" id="Option2" placeholder="Option 2" ng-model="option2">
				
			</div>

			<input type="button" value="Add an option" id="addButton">
			
			<div class="content-text">
				What are you betting on?
			</div>

			
			<input type="radio" name="stakes" value="Money $" >Money $<input id="bet_amount" type="textbox" ng-model="bet_amount">
			
			<input  type="radio" name="stakes">
			<input id="rewards" type="textbox" placeholder="Rewards" ng-model="rewards">
			<input id="punishments" type="textbox" placeholder="Punishments" ng-model="punishments">
			<input type="button" value="Save as Draft" id="saveAsDraft" style="margin-right:320px">
			<button ng-click='addBets()' type="button" id="invite" style="background-color:#00cc00">Invite Others to Play</button>
		</div>
	</div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/global.js"></script>
    <script src="../js/bet.js"></script>
</body>
</html>